button {
    width: 10rem;
    height: 2.5rem;
    background-color: var(--lilac-900);
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    color: #FFF;
    font-weight: bold;

    transition: filter 0.2s;

    &:hover{
        filter: brightness(0.8);
    }
}